:root {
  --font-weight-main: 400;
  --font-weight-h1: 700;
  --font-main: "Inter-Variable";
  --font-added: "PressStart2P";
  --color-background: rgba(255, 255, 255, 1);
  --color-main: rgba(0, 0, 0, 1);
  --color-heart-countour: rgba(0, 0, 0, 1);
  --color-heart-mainbody: #ff0000;
  --img-background: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
